<div class="container" style="top:70px;">
			<header>
				<h1>Center Log-In</h1>
            </header>       
      <div  class="form">
    		<form id="contactform" action="" method="POST">
				<p class="contact"><label for="center_id"></label>
				<input id="worker_id" name="center_id" placeholder="Enter Center ID" required="" type="text">
				
                <p class="contact"><label for="emp_pwd">Enter your password</label></p> 
    			<input type="password" id="password" name="center_pwd" required=""> 
				<br><br>
           
            <input class="buttom" name="center-login" id="submit" tabindex="5" value="Log-In!" type="submit">
			<a href="/center/forgotpwd"><input class="buttom" tabindex="5" value="Forgot Password?" type="button"></a>
			<a href="/center/signup"><input class="buttom"  tabindex="5" value="New User? Register!" type="button"></a>
   </form> 
</div> 
</div>



<!--
<h2>Center Login</h2>
<form action="" method="POST">
    Center ID: <input type="text" name="center_id" placeholder="Enter Center ID"> <br>
    Password: <input type="password" name="center_pwd" placeholder="*******"> <br>
    <button type="submit" name="center-login">Login</button>
</form>
<button type="button"><a href="/center/forgotpwd">Forgot Password</a></button>
<button type="button"><a href="/center/signup">User SignUp</a></button>