<div class="container" style="top:70px;">
<header>
<h1>Center Homepage </h1>
</header>
<div style="text-align: center;">
	<button class="butt butt1" type="button"><a href="/center/worker_confirmed">Worker Working</a></button>
	<button class="butt butt1" type="button"><a href="/center/worker_applied">Workers Applied</a></button>
	<button class="butt butt1" type="button"><a href="/center/jobs_posted">Jobs Posted</a></button>
	<button class="butt butt1" type="button"><a href="/center/worker/signup">Create Worker ID</a></button>
	<button class="butt butt1" type="button"><a href="/center/employer/signup">Create Employer ID</a></button>
	</div>
	<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/center/logout">Log Out!</a></button></div>
	
	
<!--
<div style="text-align: center;">
	<h1 style="margin-bottom: 20px;">Center Home Page</h1>
	<button type="button"><a href="/center/worker_confirmed">Worker Working</a></button>
	<button type="button"><a href="/center/worker_applied">Workers Applied</a></button>
	<button type="button"><a href="/center/jobs_posted">Jobs Posted</a></button>
	<button type="button"><a href="/center/worker/signup">Create Worker ID</a></button>
	<button type="button"><a href="/center/employer/signup">Create Employer ID</a></button>
</div>
	<a href="/center/logout">Logout</a><br>-->