<div class="container" style="top:70px;">
<header>
<h1>Job Requets </h1>
<h3>Employer Id: {{emp_id}}</h3>
</header>
<br>
<br>
<br>
<div style="text-align:center"><h1>No Requests received Yet!</h1></div>
<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/employer/confirmed">Go to confirmed jobs</a></button></div>
<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/employer/jobs">Go to posted Jobs</a></button></div>
<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/employer/logout">Log Out!</a></button></div>