<div class="container" style="top:70px;">
<header>
<h1>Applied Jobs </h2>
<h3>Worker Id: {{worker}} Name: {{workername}}</h3><br/>
</header>
<br>
<br>
<br>
<div style="text-align:center"><h1>No Records Found!</h1></div>
<div style="text-align:center"><button type="button" class="butt butt1 id="submit"><a href="/worker/jobs">Go Back to Available jobs</a></button></div>
<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/worker/confirmed">Go to Confirmed jobs</a></button></div>
<div style="text-align:center"><button type="button" class="butt butt1" id="submit"><a href="/worker/logout">Log Out!</a></button></div>